<div class="form-field field-{{name}}">
    <label for="{{name}}">{{label}}</label>
    <input type="{{type}}" name="{{name}}" id="{{name}}">
    {{#if error}}
        <span class="error">{{error}}</span>
    {{/if}}
</div>