<div class="form__field form__field--{{name}} slot">
    <label for="{{name}}" class="form__label">{{label}}</label>
    <input type="{{type}}" name="{{name}}" id="{{name}}" class="form__input">
    {{#if error}}
        <span class="error">{{error}}</span>
    {{/if}}
</div>